* {
  border: none;
  border-radius: 0px;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
  min-height: 0px;
}

window#waybar {
  background: rgba(29, 32, 33, 1.0);
  color: #ebdbb2;
}

tooltip {
  background: #282828;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d2021;
}

#workspaces button {
  padding: 0 0.6em;
  color: #504945;
  border-radius: 6px;
  margin-right: 4px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button.active {
  color: #ebdbb2;
  background: #4e635b;
}

#workspaces button.focused {
  color: #ebdbb2;
  background: #4e635b;
}

#workspaces button.urgent {
  color: #1d2021;
  background: #fb4934;
}

#workspaces button:hover {
  background: #4e635b;
  color: #ebdbb2;
}

#custom-weather,
#date,
/* #bluetooth, */
#connection,
#clock,
#cpu,
#language,
#component,
#hardware,
#pulseaudio,
#custom-weather #workspaces,
#tray {
  background: #32302f;
  padding: 0 0.6em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

#tray {
  margin-right: 6px;
}

#connection {
  color: #ebdbb2;
  margin-right: 6px;
}

#pulseaudio {
  margin-right: 6px;
  color: #ebdbb2;
}

#component {
  margin-right: 6px;
  color: #ebdbb2;
}

#clock {
  color: #ebdbb2;
  margin-right: 6px;
}

#custom-weather {
  margin-right: 6px;
}

#network {
  margin-right: 10px;
  color: #ebdbb2;
}

#language {
  margin-right: 6px;
}

#hardware {
  margin-right: 6px;
  color: #ebdbb2;
}

#backlight {
  margin-right: 10px;
}

#cpu {
  margin-right: 6px;
}